.env
.envrc
.python-version   # Common to have it to avoid conflict for other contributors


test_data
test_data/*

scripts/liftover_and_gvf_OneSample.py
scripts/VCFtoGVF.py
results/

cnv_liftover_gvf.tar
